/* VARIABLES */
:root {
    --dark-blue: rgb(17,94,148);
    --gradient: linear-gradient(90deg, rgba(17,94,148,1) 0%, rgba(20,162,184,1) 33%, rgba(20,162,184,1) 66%, rgba(17,94,148,1) 100%);}

/* RESETS */
* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

/* GLOBAL CLASSES */

#search-input,
#search-button,
#history,
#divider {
    width: 100%;
}

#today-weather-card {
    width: 88%;
    padding: 15px;
    margin: 10px;
    /* max-width: ; */
    border: 1px solid black;
}

.weather-card {
    padding: 15px;
    margin: 8px;
    border: 1px solid navy;
    background: var(--dark-blue);
    color: white;
}

/* CUSTOM STYLES */
header {
    background: var(--gradient);
    padding: 25px 0;
    margin-bottom: 20px;
}

#input-group {
    margin:20px;
}

#searchHistoryItem {
    width: 100%;
    background-color: lightgrey;
    border-radius: 10;
    margin-bottom: 10px;
}

#searchHistoryItem p {
    text-align: center;
    margin:auto;
    padding: 6px;
}

#search-button {
    border-radius: 10;
}

#divider {
    margin-top: 8px;
    border-top: solid 1px black;
}

#forecastTitle {
    padding: 15px 15px 0px;
}